html{
    scroll-behavior: smooth;
    margin: 0;
}

.-z-10{
    z-index: -10;
}

.header{
    background-image: url(./images/abstract7.jpg);
    background-size: cover;
}
/* 
#content{
    position: absolute;
    top: 100vh;
} */