@import url('https://fonts.googleapis.com/css2?family=Coda&family=Roboto+Mono:wght@500&family=Coda+Caption:wght@800&family=Notable&display=swap');

:root{
    --navbar-height: 70px;
    --sidebar-width: 100vw;
}

body{
    background-image: url("bg.jpg");
    color: white;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.872);
}

p{
    margin: 0;
    padding: 0;
}

.notable-font{
    font-family: 'Notable', sans-serif;
    letter-spacing: 3px;
}
.coda-font{
    font-family: 'Coda', cursive;
    font-size: medium;
}

.main-body{
    padding-top: 256px;
}

.action-btn{
    padding: 12px 16px;
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 28px;
    margin-top: 4px;
    font-size: small;
    cursor: pointer;
}
.action-btn:hover{
    color: black;
    background-color: white;
}

.nav-bar{
    display: flex;
    position: fixed;
    box-sizing: border-box;
    padding-right: 16px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.212);
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    z-index: 5000;
    transition: 400ms;
    font-family: 'Coda', cursive;
    font-size: 24px;
}

.nav-bar-brand{
    font-size: x-large;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;
}

.nav-bar-actions{
    display: flex;
}

.nav-bar-items{
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    font-size: medium;
}

.nav-bar-items:hover{
    color: rgb(160, 160, 160);
}

.nav-bar-activebar{
    position: absolute;
    background-color: rgb(73, 73, 73);
    z-index: 1;
    height: 5px;
    width: 60px;
    align-self: flex-end;
    display: none;
}

.nav-bar-menu-btn, .nav-bar-close-btn{
    display: none;
}

.unstyle-link, .unstyle-link:hover{
    color: inherit;
    text-decoration: inherit;
}

hr{
    background-color: white;
    margin: 0;
}

.pt-6{
    padding-top: calc(var(--navbar-height) + 16px);
}

.profile-photo{
    width: auto;
    height: 96px;
    border-radius: 50%;
    margin: 0 auto;
}

.content{
    width: 500px;
    margin: 0 auto;
    padding-top: 72px;
    text-align: center;
    font-size: x-large;
    font-family: 'Roboto Mono', monospace;
}

.item-container{
    padding-top: 84px;
}

.application-container{
    display: none;
    width: 75vw;
    margin: 0 auto;
}

.design-container{
    width: 75vw;
    margin: 0 auto;
}

.design-btn, .application-btn{
    padding: 4px;
}

.design-btn:hover, .application-btn:hover{
    cursor: pointer;
    background-color: rgb(95, 95, 95);
}

.application-btn{
    opacity: 0.5;
    font-weight: 100;
}

.item{
    background-color: transparent;
    width: 256px;
    height: 200px;
    overflow: hidden;
    margin: 4px 4px;
    border: thin solid white;
}

.item .img-v{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.item .img-h{
    max-height: 100%;
    width: auto;
    cursor: pointer;
}

.item p{
    z-index: 5;
    position: absolute;
    width: 253px;
    padding: 4px;
    text-align: center;
    background-color: rgb(15, 15, 15);
}


/* style for small screen device */
@media (max-width: 576px) {
    body{
        color: white;
        background-size: auto 100vh;
    }

    .main-body{
        padding-top: 200px;
    }
    
    .nav-bar{
        padding-right: 0px;
        position: fixed;
    }
    .nav-bar-brand{
        display: inline-block;
    }

    .nav-bar-actions{
        display: block;
        position: absolute;
        height:100vh;
        width: var(--sidebar-width);
        top: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        color: white;
        flex-wrap: wrap;
        align-items: flex-start;
        transform: translateX(var(--sidebar-width));
        transition: 400ms;
    }

    .nav-bar-items{
        /* width: var(--sidebar-width); */
        width: fit-content;
        display: block;
        margin-right: auto;
        text-align: center;
        font-size: larger;
    }

    .nav-bar-menu-btn, .nav-bar-close-btn{
        display: inline-block;
        background-color: transparent;
        border: none;
        margin: 16px;
        padding: 0;
        color: white;
    }

    .nav-bar-close-btn{
        margin-bottom: 0;
        color: white;
    }

    .content{
        width: 90vw;
        margin: 0 auto;
        padding-top: 64px;
        font-size: larger;
    }
    
}