body{
    margin: 0;
}

nav{
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
}

nav h1{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 12px;
    box-sizing: border-box;
    font-family: 'Atlasi', sans-serif;
    font-size: xx-large;
}

.content{
    margin: auto;
    width: 70vw;
    margin-top: 28px;
    display: flexbox;
}

.card{
    height: 100px;
    width: 200px;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px;
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.label{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
}